 body {
   margin: 0;
 }

 .header {
   background: rgb(108, 133, 103);
   min-height: 60vh;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 footer {
   background: rgb(12, 155, 180);
   min-height: 30vh;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 /*ol {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacer);
      margin: 0;
      padding: var(--spacer) 0;
    }
    ol li {
      font-size: 25px;
      min-height: 7em;
      min-width: 20ch;
      display: block;
      margin: 0;
      padding: var(--spacer);
    
      flex: 1 1 auto;
    }  **/

 h1 {
   font-size: 60px;
 }


 nav {
   background-color: beige;
   color: rgb(108, 133, 103);
   height: 10vh;
   width: 100%;
   padding-left: 10vw;
   padding-right: 10vw;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   align-items: center;
 }

 :hover .home {
   cursor: pointer;
 }

 :hover .price {
   cursor: pointer;
 }

 :hover .coins {
   cursor: pointer;
 }

 :hover .trade {
   cursor: pointer;
 }